

body {
     font-family: sans-serif;
     padding: 1rem;
     margin: 0;
     background-color: #f9f9f9;
   }

  .myPage {
     font-family: Courier, monospace;
     color: rgb(200,0,200);
     text-align: center;
     font-size: 35px;
     font-weight: bold;
     box-shadow: 10px 10px 10px rgb(255,0,0);
   }
   
   .paragraph1{

	border:3px;
	border-style:double;
	background-color: white;
	font-family:courier;
	font-style:italic;
	font-weight:bold;
	color:blue;
	line-height:2;
	text-align:left;

	
}
.halalRest_Store_page_background{
	
	background-color: #87CEFA;
}
  .hrs_button{
    color: red;
    // background-color: rgb(200,200,200);
	background-color:#87CEFA;
    //margin: 10px 25px;
	margin-right:5px;
    height: 75px;
    width: 85px;
	letter-spacing: 2px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
    font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.15s, background-color 1s;
    box-shadow: 10px 10px 10px red;
	//vertical-align:top;
	
   }
   
   .hrs_button:hover {
     background-color: darkgreen;
     opacity: 0.8;
   }



table, th, td {
   color:black;
   //font-weight: bold;
   border: 2px solid black;
   border-color:red;
   background-color: #87CEFA;
   padding: 5px;
   border-spacing: 10px;
   border-radius: 10px;
   border-style: dotted;
   font-family: Courier, monospace;
}

